/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 1700px) and (max-width: 2000px) {
    .hero-area {
        background-repeat: no-repeat;
        background-position:bottom top center;
        height: 1650px;
        background-size: cover;
       
      }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {}

/*
====================================
Small Screen - Tablate
====================================
*/

@media screen and (min-width: 768px) and (max-width: 991px) {

    .menu-logo {
        display: block !important;
    }
    .menu-bar {
        display: block;
    }
    .menu-item {
        display: none !important;
    }
    .s-icon{
        display: none;
    }
    .mobile-icon-ss {
        margin-top: -5px;
        margin-right: 5px;
        display: block !important;
    }
    .mobile-icon-ss ul li {
        display: flex;
    }   .mobile-icon-ss ul li a{
        margin-right: 8px;
    }
    .menu-bar-wraper {
        display: flex;
        align-items: center;
    }

    .hero-area {
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        height: 850px;
        padding: 20px 0 0px 0;
    }
    .hero-title h4 {
        color: #FFF;
        font-size: 31px;
        margin-bottom: 7px;
        margin-top: 120px;
    }
    .hero-title h2 {
        font-size: 59px;
    }
    .hero-title h3 {
        font-size: 23px;
        margin-bottom: 24px;
    }
    .hero-title ul li a {
        margin-bottom: 24px;
    }
    /* =========== */
    .hero-title ul{
        flex-wrap: wrap;
    }
    .hero-title ul li {
        width: 50%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .hero-title ul li a {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        display: inline-block;
        padding: 13px  0px;
        border-radius: 5px;
        transition: .3s;
        margin-bottom: 10px;
        margin-left: 0px;
        width: 100%;
        display: block;
    }

    .hero-title ul li:first-of-type a{
        width: 100%;
    }
    .about-area {
        padding: 43px 0;
    }
    .about-right {
        margin-top: 29px;
        text-align: center;
    }
    .about-right h2 {
        font-size: 50px;
    }
    .tokenomic-title h2 {
        color: #F90;
        font-size: 50px;
    }

    .tokenomics-area {
        padding: 50px 0 26px;
       
    }


    .tokenomics-area {
        padding: 50px 0 26px;
    
    }
    .tokenomic-title h2{
        font-size: 50px;
        color: #FFF;
    }
    .about-btn- h3
    {

      font-size: 20px;
    }


    .token-left {
        margin-bottom: 40px;
    }

    .partners-title h2 {
        font-size: 44px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    .token-right {
        padding: 35px 24px;
        display: block;
    }
    .token-right-ll {
        text-align: center;
    }
    .token-right-ll img{
        width: 207px;
    }
    .token-right-rr {
        margin-left: 0px;
    }

    .token-right h2 {

        margin-bottom: 10px;
        margin-top: 30px;
    }
    .token-right ul{
        width: 100%;
    }



    .roadmap-title h2 {
        font-size: 48px;
    }
    .roadmap-title p {
        text-align: center;
        margin-bottom: 45px;
    }
    .our-roadmap-area {
        padding: 44px 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
  
        /* position: relative; */
    }



    .roadmap-item {
        min-height: 400px;
    }
    .footer-wrapper {
        display: block;
        text-align: center;
    }
    .footer-wrapper p {
        margin-top: 10px;
    }

    .kg-img img {
        width: 250px;
    }
  

    .cs-row {
        display: block;
     
     }
    
     .custom-col-1s{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
     }
     .custom-col-2s{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
     }
    




}

/*
====================================
Small Screen - Mobile
====================================
*/


@media screen and (max-width: 767px) {
    header {
        padding: 20px 0px;
    }
    .menu-logo {
        display: block !important;
    }
    .menu-bar {
        display: block;
    }
    .menu-item {
        display: none !important;
    }
    .s-icon{
        display: none;
    }
    .mobile-icon-ss {
        margin-top: -5px;
        margin-right: 5px;
        display: block !important;
    }
    .mobile-icon-ss ul li {
        display: flex;
    }   .mobile-icon-ss ul li a{
        margin-right: 8px;
    }
    .menu-bar-wraper {
        display: flex;
        align-items: center;
    }
    .hero-area {
        height: 750px;
        padding: 43px  0;
        background-position:  center;
        background-size: cover;
     
    }

    .hero-title h2 {
        font-size: 45px;
        margin-top: 70px;
    }
  
    .hero-title p {
        font-size: 23px;
    }
    .hero-title ul li a {
        margin-bottom: 24px;
    }
    .about-area {
        padding: 43px 0;
    }
    .about-right {
        margin-top: 29px;
        text-align: center;
    }
    .about-right h2 {
        font-size: 40px;
        margin-top: 0px;
    }
    .tokenomic-title h2 {
        color: #F90;
        font-size: 50px;
    }

    .tokenomics-area {
        padding: 50px 0 26px;
      
    }


    .tokenomics-area {
        padding: 50px 0 26px;
    
    }
    .tokenomic-title h2{
        font-size: 40px;
        color: #fff;
    }

    .token-left-item {
        padding: 41px 14px 35px 14px;
        border-radius: 7px;
        border: 1px solid #FFF;
        background: rgba(255, 0, 0, 0.10);
        backdrop-filter: blur(2px);
    }
    .about-btn- h3
    {

      font-size: 20px;
    }


    .token-left {
        margin-bottom: 40px;
    }

    .partners-title h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    .token-right {

        padding: 35px 24px;
        display: block;
    }
    .token-right-ll {
        text-align: center;
    }
    .token-right-rr {
        margin-left: 0px;
    }

    .token-right h2 {

        margin-bottom: 10px;
        margin-top: 30px;
    }
    .token-right ul{
        width: 100%;
    }



    .roadmap-title h2 {
        font-size: 40px;
    }
    .roadmap-title p {
        text-align: center;
        margin-bottom: 45px;
    }
    .our-roadmap-area {
        padding: 44px 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
  
        /* position: relative; */
    }







    .roadmap-item {
        min-height: inherit;
    }
    .roadmap-item h3 {
        color: #FFF;
        font-family: Nunito;
        font-size: 33px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 11px;
    }
    .disclaimer-wrapper
    {
    padding: 22px;
    margin-top: 56px;
    margin-bottom: 51px;
    }
    .disclaimer-wrapper h2
    {
      color: #FFF;
      font-family: Nunito;
      font-size: 28px;
    }

    .footer-social-inner
{
  border: 1px solid #FFF;
  background: #FF8602;
  padding: 22px;
  max-width: 305px;
  }
    .footer-social-inner h2
{
  color: #FFF;
  font-family: 'Bungee', sans-serif !important;
  font-size: 24px;
  text-align: center;
}
    .footer-wrapper {
        display: block;
        text-align: center;
    }
    .footer-wrapper p {
        margin-top: 10px;
    }

    .kg-img img {
        width: 250px;
    }
  
    .btm-king-img img
    {
      width: 100%;
      height: 100%;
    }
    footer
    {
      padding: 8px 0;
    }

/* =========== */
.hero-title ul{
    flex-wrap: wrap;
}
.hero-title ul li {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .hero-title ul li a {
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px  0px;
	border-radius: 5px;
	transition: .3s;
	margin-bottom: 10px;
	margin-left: 0px;
	width: 100%;
	display: block;
}

.hero-title ul li:first-of-type a{
    width: 100%;
}



.cs-row {
    display: block;
 
 }

 .custom-col-1s{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
 }
 .custom-col-2s{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
 }




}