

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: #000000;
    color: #fff;
}

a,
button {
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

a,
a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #ffff;
}

p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;
}
sub {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}rgb(0, 0, 0)

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

label {
    margin-bottom: 0;
}


.scrolltotop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: rgb(255,228,35);
    background: linear-gradient(176deg, rgba(255,228,35,1) 0%, rgba(255,130,37,1) 51%, rgba(255,53,39,1) 100%); 
    text-align: center; 
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 30px;
    bottom: 25px;
    display: none;
    animation: lab_top_up 5s linear infinite;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 2px solid #FF3527;
    z-index: 1;    
}

.scrolltotop i {
    color: #ffff;
}

@keyframes lab_top_up {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-15px);
    }
}

.pluse,
.pluse2 {
    position: relative;
    top: 10px;
    left: -8px;
    z-index: -1;
}

.pluse::before,
.pluse2::before {
  width: 40px;
  height: 40px;
}

.pluse::after,
.pluse::before,
.pluse2::after,
.pluse2::before {
    background: rgb(255,228,35);
    background: linear-gradient(176deg, rgba(255,228,35,1) 0%, rgba(255,130,37,1) 51%, rgba(255,53,39,1) 100%); 
  border-radius: 50%;
  left: 50%;
  top: 50%;
  display: block;
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
}

.pluse::after,
.pluse2::after {
  width: 30px;
  height: 30px;
  background: transparent;
  margin-left: -15px;
  margin-top: -15px;
}

.pluse::before {
    -webkit-animation: pluse_animate 2.5s infinite linear;
    animation: pluse_animate 2.5s infinite linear;
}

.pluse2::before {
  -webkit-animation: pluse_animate 3s infinite linear;
  animation: pluse_animate 3s infinite linear; 
}

@keyframes pluse_animate {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(0.3);
        transform: translate(-50%, -50%) scale(0.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(2);
        transform: translate(-50%, -50%) scale(2);
    }
}


/*==== nev area start===== */

header {
    padding: 20px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07); background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(3px); 
    position: fixed;
    max-width: 100%;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
}

header .container{
    max-width: 100% !important;
}
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            
}

.logo {
    max-width: 300px;
    display: inline-block;
    margin-right: 50px;
}

.menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.s-icon{
    margin-left: 20px;
}
.s-icon a {
    display: inline-block;
    margin-right: 16px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.s-icon a:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.menu-item ul li a {
    color: #fff;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 20px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.10);
    margin-left: 10px;
    text-transform: capitalize;
}

.menu-item ul li a:hover {
    color: rgb(255, 255, 255); 
}

.active a{
    color: rgb(255, 255, 255) !important; 
}


/* .active a{
    color: red !important;
} */

.menu-bar {
    display: none;
}

.menu-bar a {
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}

.mobile-icon-ss {
    display: none;
}

/*==== nev area end===== */

/*==== sticky-nev start=== */

.fixed-menu {

    background: rgba(0, 0, 0, 0.767); 
    position: fixed;
    top: 0;
    -webkit-animation: slide-down 0.5s !important;
            animation: slide-down 0.5s !important;
    left: 0;
    right: 0;
    -webkit-box-shadow: 4px -86px 103px rgba(0, 0, 0, 0.9);
            box-shadow: 4px -86px 103px rgba(0, 0, 0, 0.9);
    z-index: 250;
    -webkit-transition: .10s;
    -o-transition: .10s;
    transition: .10s;
}

.fixed-menu .menu-bar a {
    color: #ffffff !important;
}

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
                transform: translateY(50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
                transform: translateY(50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

/*==== sticky-nev end=== */

/* ====offcanvas manu start===== */

.offcanvas-header {
    background-color: #0f0f0f;
    border-bottom: 1px solid #2e4355;
}

.offcanvas-header h5 img {
    max-width: 100px;
}

.offcanvas-body {
    background-color: #000000;
    padding: 0px !important;
}

.clloss-x {
    font-size: 25px;
    cursor: pointer;
    color: #2e4355;
}

.clloss-x:hover {
    color: #2e4355;
}

.offcanvas-start {
    top: 0;
    left: 0;
    width: 340px;
    z-index: 11111111111111;
}

.mobile-menu-item ul li a {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    padding: 15px 20px;
    display: block;
    transition: .2s;
    text-transform: uppercase;
}

.mobile-menu-item ul li a:hover {
    color: #2e4355;
    background-color: #0f0f0f;
    
}

.m-active {
    color: #2e4355 !important;
    background-color: #0f0f0f;
}

.mobile-menu-item ul li a i {
    font-size: 20px;
    margin-right: 15px;
}

/* ====offcanvas manu end===== */
/* =====hero-area-start===== */

.hero-area {
    background-image: url(./lov.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 1820px;
    padding: 20px 0 0px 0;
}

.hero-title h2 {
    color: #FFF;
    text-align: center;
    text-shadow: 3px 3px 0px #291900;
    font-family: 'Nunito';
    font-size: 150px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 110px;
}



.hero-title p{
    color: #FFF;
    text-align: center;
    text-shadow: 3px 3px 0px #000;
    font-family: 'Alegreya Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 30px */
    text-transform: uppercase;
    margin-bottom: 30px;
 
}

.hero-title ul {
    
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #ffff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.hero-title ul li a {
    color: #2e4355;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-bottom: 30px;
    margin-left: 20px;
    width: 170px; 
    background-color: #fff;
}
.hero-title ul li:first-of-type a{
    background-color: #2e4355; 
    color: #fff;
}

.hero-title ul li:last-of-type a{
    background-color: #2e4355; 
    color: #fff;
}


.hero-title ul li:last-of-type a{
    text-transform: uppercase;
}

/* about area start */

.about-area {
    padding: 106px  0px;
    background: rgb(2, 47, 87);
}

.max-abouts {
    max-width: 1021px;
    margin: auto;
}



.about-right h2 {
    color: #FFF;
    text-shadow: 3px 3px 0px #291900;
    font-family: 'Nunito';
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    line-height: 105%; /* 68.25px */
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 110px;
}

.about-right p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}

/* ======our partners area start====== */

.partners-area{
    padding: 70px 0 50px;
    background: #02a2ff;
}

.partners-title h2{
    color: #FFF;
    text-align: center;
    text-shadow: 3px 3px 0px #291900;
    font-family: 'Nunito';
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 105%; /* 47.25px */
    text-transform: uppercase;
    margin-bottom: 50px;
}

.partners-items a{
    display: block;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #FFF;
    background: #FF8102;
    padding: 16px 45px;
    margin-bottom: 20px;
    height: 91px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.mas-pra
{
  max-width: 750px;
  margin: auto;
}

.copy-notification {
    color: #ffffff;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150px;
    margin-top: -30px;
    margin-left: -85px;
    display: none;
    text-align:center;
}


/* Tokenomics area start */

.tokenomics-area {
    padding: 62px 0px;
    background: rgb(29, 76, 126);
}

.tokenomic-title h2 {
    color: #FFF;
    text-align: center;
    text-shadow: 3px 3px 0px #291900;
    font-family: 'Nunito';
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 105%; /* 47.25px */
    text-transform: uppercase; 
     margin-bottom: 66px;
}

.token-left-item{
    padding: 70px 25px 35px 25px;
    border-radius: 7px;
    border: 1px solid #FFF;
    background: rgba(255, 0, 0, 0.10);
    backdrop-filter: blur(2px);
}
.token-left-item h2{
    color: #FFF;
    font-family: 'Nunito';
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.token-left-item ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.token-left-item ul li{
    margin-bottom: 13px;
}
.token-left-item ul li:first-of-type{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Alegreya Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}
.token-left-item ul li:last-of-type{
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.token-left-item p{
    color: #FFF;
    font-family: 'Alegreya Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
 
}

/* token-right */
.token-right{

    border-radius: 7px;
    border: 1px solid #FFF;
    background: rgba(255, 0, 0, 0.10);
    backdrop-filter: blur(2px);
    padding: 80px 40px 80px 50px;
    display: flex;
}

.token-right h2{
    color: #FFF;
    font-family: 'Nunito';
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 30px;
  
    margin-top: 60px;
}
.token-right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.token-right ul li{
    margin-bottom: 13px;
    display: flex;
    align-items: center;
}
.token-right ul li img{
    display: inline-block;
    margin-right: 10px;
}
.token-right ul li:first-of-type{
    color: #FFF;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
}
.token-right ul li:last-of-type{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    line-height: normal;
    text-transform: capitalize;
}
.token-right-rr{
    margin-left: 70px;
}

/* =========Our Roadmap start ======== */

.our-roadmap-area {
    padding: 80px 0;
    background: #08316b;
    /* position: relative; */
}

.roadmap-title h2 {
    color: #FFF;
    text-align: center;
    text-shadow: 3px 3px 0px #291900;
    font-family: 'Nunito';
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    line-height: 105%; /* 68.25px */
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.roadmap-item {
    padding: 22px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: #454385;
    background-image: url(img/mask.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    min-height: 368px;
    margin-bottom: 40px;
}

.roadmap-item img {
    display: inline-block;
    margin-bottom: 15px;
}

.roadmap-item h3 {
    color: #FFF;
    font-family: 'Nunito';
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.roadmap-item ul li {
    color: #fff;
    font-family: 'Alegreya Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    line-height: normal;
    margin-bottom: 15px;
    position: relative;
    margin-left: 22px;
}


.roadmap-item ul li::before {
    content: "";
    width: 8px;
    height: 8px;
    background: #fff;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: -22px;
    top: 5px;
}


/* ====featured area======== */



.our-featured-area {
    padding: 9px 0 0 0;
    background: rgb(56, 58, 122);
    /* position: relative; */
}



.disclaimer-wrapper{
    padding: 22px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: #355a72;
    margin-top: 90px;
    margin-bottom: 90px;
   
}
.disclaimer-wrapper h2{
    color: #FFF;
    font-family: 'Nunito';
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.disclaimer-wrapper p{
    color: #FFF;
    font-family: 'Alegreya Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.btm-king-img{
    text-align: center !important;
    margin-left: 50px;
     width: 100%;
     height: 100%; /* Mantém a proporção da imagem */
            max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
            display: block; /* Remove espaços em branco ao redor da imagem */
            margin: 0 auto; /* Centraliza a imagem no contêiner */
}

.footer-social-inner{
    border: 1px solid #FFF;
    background: #1a3b66;
    padding: 22px;
    max-width: 443px;
    margin:-20px auto;
    position: relative;
    /* position: absolute; */
    /* bottom: 0px;
    left: 50%;
    transform: translate(-50%,-50%); */
}


.footer-social-inner span{
    position: absolute;
    bottom:-41px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.footer-social-inner h2{
    color: #FFF;
    font-family: 'Alegreya Sans', sans-serif !important;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.footer-social-inner ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social-inner ul li  a{
    display: inline-block;
    padding: 0 10px;
    transition: .2s;
}

.footer-social-inner ul li  a:hover{
    transform: scale(1.2);
}

body{
    position: relative;
}
footer {
    padding: 20px 0;
    background: rgba(10, 10, 10, 0.60);
    backdrop-filter: blur(12px);
    position: absolute;
    /* top:100%; */
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-wrapper p {
    color: #FFF;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
 html, body{
    scroll-behavior: smooth;
}

/* end all the css  */
.cs-row {
    display: flex;
 
 }

 .custom-col-1s{
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
 }
 .custom-col-2s{
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
 }


 
/* =======end all the css design======== */




.Z
{
    color:#fff;
    font-family: cursive;
    font-size: 34px;
}


